<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/favicon.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaadRemon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar2">
            <div class="logo">
                <h2>Raad<span>Remon</span></h2>
            </div>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/project.html">Projects</a></li>
                <li><a href="">Mail</a></li>
            </ul>
        </nav>
    </header>
    <h1>CONTACT ME</h1>

    <p>
        I can help you to create an
        <br>
        amazing website. So, you can contact
        <br>
        with me via from the social platform down
        <br>
        below or raadshahmatremon@gmail.com .
    </p>

    <div class="link">
        <nav class="navbar3">
            <ul>
                <a href="https://www.instagram.com/raad_remon/"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="https://github.com/Remon009534"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077659358660"><i class="fab fa-facebook fa-3x"></i></a>
                <a><i class="fa-brands fa-linkedin-in fa-3x"></i></a>
                <a href="https://www.pinterest.com/raadshahmatr/"><i class="fa-brands fa-pinterest fa-3x"></i></a>
            </ul>
        </nav>
    </div>
</body>
</html>