<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/favicon.icon">
    <title>RaadRemon</title>
    <link rel="stylesheet" href="../assets/style2.css">
</head>
<body>
    <header>
        <nav class="navbar2">
            <div class="logo">
                <h2>Raad<span>Remon</span></h2>
            </div>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="../views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="Project1">
        <!-- <img src="../imgs/Screenshot 2023-08-25 232407.png" width="650px" height="350px">
        <div class="project">
            <h3>Dopefolio</h3>
            <p>
                My name is Raad Shahmat Remon.
                <br>
                I am Font end Web developer.
                <br>
                I have been doing web development for
                <br>
                2 years.               
            </p>
        </div> -->
        <div class="Dopefolio">
            <img src="../assets/imgs/Screenshot 2023-08-25 232407.png" width="650px" height="350px">
            <div class="project">
                <h3>Dopefolio</h3>
                <p>
                    This is my old portfolio
                    <br>
                    I created. This one is the new
                    <br>
                    and updated one i created.          
                </p>
            </div>
        </div>
        <div class="button">
            <a href="https://raadremon.netlify.app/">
                <button>Link</button>
            </a>
        </div>
        <!-- <a>
            <button>Link</button>
        </a> -->
    </section>
    <section class="Project2">
        <div class="Dopefolio2">
            <div class="project">
                <h3>EDeditor</h3>
                <p>
                    Ededitor is my first web design
                    <br>
                    I ever created. Not so good but keep
                    <br>
                    working on it.           
                </p>
            </div>
            <!-- <img src="../imgs/Frame 8.png"width="650px" height="350px"> -->
            <img src="../assets/imgs/Section 11.png"width="650px" height="350px">
            <!-- <div class="project">
                <h3>Blanc</h3>
                <p>
                    My name is Raad Shahmat Remon.
                    <br>
                    I am Font end Web developer.
                    <br>
                    I have been doing web development for
                    <br>
                    2 years.               
                </p>
            </div> -->
        </div>
    </section>
    <script src="./assets/index.js"></script>
</body>
</html>